<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Meiling_nb.gif</key>
            <dict>
                <key>frame</key>
                <string>{{154,60},{52,80}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,30},{52,80}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Suika_nb.gif</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,92}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,20},{80,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Tenshi_nb.gif</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{68,104}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,11},{68,104}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Yamame_nb.gif</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{56,98}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,21},{56,98}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sample.png</string>
            <key>size</key>
            <string>{256,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:94ed80a7bd6e50bca3264dba70300db4:fc50568aeb5cbd6a326a78dc54a4bf30:b78b03373539eaa12912708868c1cbb1$</string>
            <key>textureFileName</key>
            <string>sample.png</string>
        </dict>
    </dict>
</plist>
