<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MMMSpriteMaker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
    </startup>
    <userSettings>
        <MMMSpriteMaker.Properties.Settings>
            <setting name="IsUpgraded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RenderType" serializeAs="String">
                <value>Sprite</value>
            </setting>
            <setting name="RenderingBack" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BasePoint" serializeAs="String">
                <value>Center</value>
            </setting>
            <setting name="HorizontalFlipSetting" serializeAs="String">
                <value>NotFlip</value>
            </setting>
            <setting name="VerticalFlipSetting" serializeAs="String">
                <value>NotFlip</value>
            </setting>
            <setting name="LightSetting" serializeAs="String">
                <value>Disabled</value>
            </setting>
            <setting name="PixelRatio" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="SpriteViewportWidth" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="SpriteZRange" serializeAs="String">
                <value>100</value>
            </setting>
        </MMMSpriteMaker.Properties.Settings>
    </userSettings>
</configuration>
